﻿@model FinalProject2.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Thông Tin Cá Nhân</h2>
<fieldset>
    <legend>ThongTinCaNhan</legend>

    <h4>
        Tên
     </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoTen)
    </div>

    <h4>
        Ngày Sinh
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgaySinh)
    </div>
    <h4>
        Giới Tính
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiTinh)
    </div>
    <h4>
        Địa Chỉ
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaChi)
    </div>



    <h4>
        Công Việc
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.CongViec)
    </div>

    <h4>
        Sở Thích
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoThich)
    </div>

    <h4>
        Email
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <h4>
        Thời Gian Tập Trung
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThoiGianTapTrungCongViec)
    </div>
    <h4>
        Lượng Truy Cập
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuongTruyCap)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.UserId}) |
    @Html.ActionLink("Quay lại", "Index")
</p>

