﻿@model FinalProject2.Models.UserProfile
@{
    ViewBag.Title = "Edit";
}

<h2>Sửa Thông Tin Cá Nhân</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CongViec</legend>

        @Html.HiddenFor(model => model.UserId)

        <h4>
            Tên
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        <h4>
            Ngày Sinh
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgaySinh)
            @Html.ValidationMessageFor(model => model.NgaySinh)
        </div>
        <h4>
            Giới Tính
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.GioiTinh)
            @Html.ValidationMessageFor(model => model.GioiTinh)
        </div>
        <h4>
            Địa Chỉ
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>


        <h4>
            Công Việc
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.CongViec)
            @Html.ValidationMessageFor(model => model.CongViec)
        </div>

        <h4>
            Sở Thích
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoThich)
            @Html.ValidationMessageFor(model => model.SoThich)
        </div>

        <h4>
           Email
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <h4>
            Thời Gian Tập Trung
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianTapTrungCongViec)
            @Html.ValidationMessageFor(model => model.ThoiGianTapTrungCongViec)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}