﻿@model IEnumerable<FinalProject2.Models.UserProfile>
@{
    ViewBag.Title = "Index";
}

<h2>Thông Tin Cá Nhân</h2>
<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table>
    <tr>
        <th>
            Tên 
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            Giới Tính
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Công Việc
        </th>
        <th>
            Sở Thích
        </th>
        <th>
            Email
        </th>
        <th>
            Thời Gian Tập Trung
        </th>
        <th>
            Lượng Truy Cập
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.HoTen )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CongViec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoThich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTapTrungCongViec)
            </td>
            <td>
               @Html.DisplayFor(modelItem =>item.LuongTruyCap)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.UserId }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.UserId}) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
