﻿@model FinalProject2.Models.CongViec

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Công Việc</h2>

<fieldset>
    <legend>CongViec</legend>

    <h4>
        Tên Công Việc
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenCongViec)
    </div>

    <h4>
        Thời Gian Bắt Đầu
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThoiGianBatDau)
    </div>
    <h4>
        Thời Gian Kết Thúc
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThoiGianKetThuc)
    </div>
    <h4>
        Ngày
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngay)
    </div>



    <h4>
        Địa Điểm
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaDiem)
    </div>

    <h4>
        Mức Độ
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.MucDo)
    </div>

    <h4>
        Mô Tả
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <h4>
        Thành Viên Tham Gia
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThanhVienThamGia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
