﻿@model FinalProject2.Models.CongViec

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa Công Việc</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CongViec</legend>

        @Html.HiddenFor(model => model.ID)

        <h4>
            Tên Công Việc
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenCongViec)
            @Html.ValidationMessageFor(model => model.TenCongViec)
        </div>

        <h4>
            Thời Gian Bắt Đầu
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianBatDau)
            @Html.ValidationMessageFor(model => model.ThoiGianBatDau)
        </div>
        <h4>
            Thời Gian Kết Thúc
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianKetThuc)
            @Html.ValidationMessageFor(model => model.ThoiGianKetThuc)
        </div>
        <h4>
            Ngày
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ngay)
            @Html.ValidationMessageFor(model => model.Ngay)
        </div>


        <h4>
            Địa Điểm
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaDiem)
            @Html.ValidationMessageFor(model => model.DiaDiem)
        </div>

        <h4>
            Mức Độ
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.MucDo)
            @Html.ValidationMessageFor(model => model.MucDo)
        </div>

        <h4>
            Mô Tả
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>

        <h4>
            Thành Viên Tham Gia
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThanhVienThamGia)
            @Html.ValidationMessageFor(model => model.ThanhVienThamGia)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
