﻿@model IEnumerable<FinalProject2.Models.CongViec>

@{
    ViewBag.Title = "Index";
}

<h2>Thông Tin Công Việc</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table>
    <tr>
        <th>
            Tên Công Việc
        </th>
        <th>
            Thời Gian Bắt Đầu
        </th>
        <th>
            Thời Gian Kết Thúc
        </th>
        <th>
            Ngày
        </th>
        <th>
            Địa Điểm
        </th>
        <th>
            Mức Độ
        </th>
        <th>
            Mô Tả
        </th>
        <th>
            Thành Viên Tham Gia
        </th>
        <th>
            Thời gian còn lại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCongViec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MucDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhVienThamGia)
        </td>
        <td>
            @Html.Raw((item.ThoiGianKetThuc.TimeOfDay - DateTime.Now.TimeOfDay))

        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
