﻿@{
    ViewBag.Title = "Liên Hệ";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>
            Giới Thiệu
        </h3>
        
    </header>
    <p>
        Trong nhịp sống của cuộc sống hiện đại ngày nay, quan niệm về thời gian bị thay đổi dẫn đến sự mất cân bằng trong việc sắp xếp công
        việc hằng ngày.
        Hằng ngày mọi người đều có 8 giờ đồng hồ để ngủ, làm việc và các nhu cầu cá nhân khác, thực tế lại cho ta thấy kết quả khác,
        công việc mà bạn làm luôn vượt quá 8 giờ mỗi ngày và một điều hiển nhiên số giờ đó sẽ được tính vào giờ ngủ và giờ bạn thực hiện các
        nhu cầu khác của mình và hệ quả kéo theo của vấn đề này là:
        <p>
            1. Khi bạn không ngủ đủ thời gian quy định, sáng hôm sau bạn sẽ cảm thấy mệt mỏi, hiệu suất làm việc của bạn thấp, có thể là trì trệ
            và tất nhiên là sẽ có những ảnh hưởng không tốt đến sức khỏe của bản thân.
        </p>
        <p>
            2. Khi thời gian để bạn thực hiện những nhu cầu của bản thân (ăn, uống, vệ sinh cá nhân, thư giãn,...) bị hạn chế thì chắc chắn bạn
            không có một tinh thần vui vẻ để thực hiện tiếp công việc của mình
            Đồng thời, vì có nhiều công việc nên việc bạn quên làm một số việc chắc chắn sẽ xảy ra và đương nhiên điều đó sẽ không làm bạn cảm
            thấy vui.
        </p>
        Để giải quyết những vấn đề như vậy, mọi người có thể giải quyết bằng cách tự lập thời gian biểu cho mình, nhưng một thực tế là không
        phải ai muốn phải lập thời gian biểu mỗi ngày và việc khó khăn là phải phân loại công việc, một công việc hết sức đau đầu và đôi khi
        bạn lại có thể bỏ soát công việc, để giải quyết thực tế đó mình muốn giới thiệu một công cụ hỗ trợ đó chính là Website có tên
        TimeTable.vn.
        <p>
            1. Khi đến với TimeTable.vn bạn có thể lập cho mình một thời gian biểu một cách nhanh chóng bằng cách nhập công việc hằng ngày của
            bạn và thời gian cụ thể, đồng thời việc phân loại công việc bạn chỉ cần đánh giá theo ba mức độ (High, Medium, Low), việc sắp xếp
            công việc theo mức độ và thời gian cụ thể sẽ giúp bạn tránh tình trạng tồn tại thời gian chết (thời gian rãnh rỗi), đồng thời tránh
            được tình trạng thất thoát công việc.
        </p>
        <p>
            2. Khi đến với TimeTable.vn bạn sẽ có một cái nhìn mới về thời gian, cụ thể ở đây trang Web cung cấp cho bạn tổng thời gian để bạn
            làm việc trong một ngày và đồng hồ sẽ đếm ngược tổng thời gian đó, đồng thời trang Web sẽ có đồng hồ thứ 2 để cung cấp cho bạn thời
            gian bạn có để thực hiện từng công việc và chiếc đồng hồ này cũng sẽ được đếm ngược, nhiều người sẽ tự hỏi tại sao không để đồng hồ
            như bình thường mà lại phải đếm ngược, điều đó được xuất phát từ 2 nguyên nhân:
            - Khi bạn cảm thấy mệt mỏi trong lúc làm việc, bạn nhìn vào đồng hồ bạn sẽ nhận ra một điều rằng thời gian của mình đang ít đi chứ
            không phải là dài thêm ra và điều đó cũng đã nói lên rằng hãy quý trọng thời gian mà bạn đang có.
            - Từ lâu nay chúng ta quá quen với việc xem đồng hồ chạy theo chiều thuận, thực tế cho thấy cái gì quá quen đều đem đến sự nhàm chán,
            chính vì điều đó nên đồng hồ chạy ngược có thể xem như là một cái gì đó phá cách, giúp cuộc sống bớt tẻ nhạt.
        </p>
        <p>
            3. Website được trang bị hai tính năng đặc biệt khác là Reminder và Advice
            - Đối với tính năng Reminder bạn sẽ nhìn thấy được công việc bạn đã làm (Last Work) và công việc bạn sẽ làm tiếp theo (Next Work) điều
            đó cho bạn thấy được những điều bạn đã làm được và những việc bạn phải làm.
            - Đối với tính năng Advice bạn sẽ được Website cung cấp những lời khuyên để bạn hoàn thành công việc một cách tốt nhất.
            Ví dụ như khi cập nhật thông tin cá nhân bạn sẽ có một mục là Concetration Time (Thời gian tập trung), lúc bạn làm việc Website sẽ đưa
            ra lời khuyên đúng lúc để bạn nghỉ ngơi khi kết thúc thời gian tập trung đó bằng những công cụ để thư giãn như nghe nhạc, đọc báo....
            khoảng 5-10 phút và sau đó bạn có thể tiếp tục với công việc của mình.
        </p>
        <p>
            4. Website có đầy đủ tính năng bảo mật thông tin người dùng, hỗ trợ khi gặp sự cố.
            Đến với TimeTable.vn bạn sẽ nhận ra được những lợi ích sau:
            1. Bạn giải quyết được những vấn đề được đặt ra bên trên (mất cân bằng thời gian, hiệu suất làm việc thấp....)
            2. Bạn tập cho mình được một tính kỉ luật khi tự đưa bản thân mình vào khuôn khổ chứ không cần sự nhắc nhở hay quản thúc của bất kì một
            ai.
            3. Bạn có được một cuộc sống tốt hơn (về sức khỏe, tinh thần, công việc).
            4. Giúp bạn có một cái nhìn mới về thời gian, đồng thời biết tôn trọng những gì bạn đang có.
        </p>
    
</section>
<section class="contact">
    <header>
        <h3>Điện Thoại</h3>
    </header>
    <p>
        <span>0165.894.6080</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>
            12110179@student.hcmute.edu.vn
        </span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Địa Chỉ</h3>
    </header>
    <p>
            HoChiMinh City University of Technology and Education
    </p>
</section>