﻿@model FinalProject2.Models.UserProfile
@{
    ViewBag.Title = "Home Page";
}
<fieldset>
    <legend>TrangChu</legend>
    <h4>
        Thời gian hiện tại
    </h4>
    
    <h4>
        Tên Công Việc
    </h4>
    
    
    <h4>
        Thời gian để thực hiện công việc
    </h4>
    

    <h4>
        Mô Tả Công Việc
    </h4>
    



</fieldset>
