﻿@model FinalProject2.Models.TroGiup

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Yêu Cầu</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TroGiup</legend>

    <h4>
        Nội Dung
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Quay lại", "Index")
    </p>
}
