﻿@model FinalProject2.Models.TroGiup

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết Yêu Cầu</h2>

<fieldset>
    <legend>TroGiup</legend>

    <h4>
        Nội dung
    </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
