﻿@model FinalProject2.Models.TroGiup

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa Yêu Cầu</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TroGiup</legend>

        @Html.HiddenFor(model => model.ID)

       <h4>
           Nội dung
       </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
