﻿@model FinalProject2.Models.UserProfile
@{
    ViewBag.Title = "Index";
}
<h2>Trang Chủ</h2>

<fieldset>
    <legend>TrangChu</legend>
    <h4>
        Thời gian hiện tại
    </h4>
    <div class="display-field">
        @Html.Raw(DateTime.Now.TimeOfDay)
    </div>
    <h4>
        Tên Công Việc
    </h4>
    <div class="display-field">
        @foreach(var congviec in Model.CongViecs)
        { 
          @Html.DisplayFor(m => congviec.TenCongViec)
        }
        
    </div>
    <h4>
        Thời gian để thực hiện công việc
    </h4>
    <div class="display-field">
        @foreach (var congviec in Model.CongViecs)
        {
            @Html.Raw((congviec.ThoiGianKetThuc.TimeOfDay - DateTime.Now.TimeOfDay))
        }
    </div>

    <h4>
        Mô Tả Công Việc
    </h4>
    <div class="display-field">
        @foreach (var congviec in Model.CongViecs)
        {
            @Html.DisplayFor(m => congviec.MoTa)
        }

    </div>

</fieldset>


