﻿@model FinalProject2.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <h4>
                    Old Password
                </h4>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <h4>
                    New Password
                </h4>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <h4>
                    ConfirmPassword
                </h4>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
