﻿@model FinalProject2.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <h4>
                    UserName
                </h4>
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                <h4>
                    Password
                </h4>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <h4>
                    ConfirmPassword
                </h4>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <h4>
                    Họ Tên
                </h4>
                @Html.TextBoxFor(m => m.HoTen)
            </li>
            <li>
                <h4>
                    Email
                </h4>
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                <h4>
                    Ngày Sinh
                </h4>
                @Html.TextBoxFor(m => m.NgaySinh)
            </li>
            @*@Html.HiddenFor(m=>m.LuongTruyCap)
            @Html.HiddenFor(m=>m.Level)
            @Html.HiddenFor(m=>m.Online)*@
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
