﻿@model FinalProject2.Models.BanBe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BanBe</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_BanBe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_BanBe)
            @Html.ValidationMessageFor(model => model.ID_BanBe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileId)
            @Html.ValidationMessageFor(model => model.UserProfileId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThamGiaCongViecID, "ThamGiaCongViec")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ThamGiaCongViecID", String.Empty)
            @Html.ValidationMessageFor(model => model.ThamGiaCongViecID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
