﻿<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/19984.jpg" style="width:960px;height:300px" />
                    <h2><p class="site-title">@Html.ActionLink("Thay đổi cách quản lí thời gian- Thay đổi cuộc sống của bạn", "Index", "Home")</p></h2>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Trang Chủ", "Index", "TrangChu")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            }

                            <li>@Html.ActionLink("Thông Tin Cá Nhân", "Index", "ThongTinCaNhan")</li>
                            <li>@Html.ActionLink("Công Việc", "Index", "CongViec")</li>
                            <li>@Html.ActionLink("Trợ Giúp", "Index", "TroGiup")</li>
                            <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>

</html>
