﻿@model Blog4_v1.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Userprofile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Userprofile.UserName)
    </div>
</fieldset>
@Html.Partial("_addComment", new Blog4_v1.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-field">
            <h2>@Html.DisplayFor(x => comment.LastTime) minutes ago</h2>
        </div>
        <div class="display-field">
            <h3>@Html.DisplayFor(x => comment.Body)</h3>
        </div>
        <div class="display-field">
            <h4>@Html.DisplayFor(x => comment.Author)</h4>
            <hr />
        </div>

    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
