﻿@model Blog4_v1.Models.Comment

<div class="display-field">
    <h2>@Html.DisplayFor(x => x.LastTime) minutes ago</h2>
</div>
<div class="display-field">
    <h3>@Html.DisplayFor(x => x.Body)</h3>
</div>
<div class="display-field">
    <h4>@Html.DisplayFor(x => x.Author)</h4>
    <hr />
</div>