﻿@model FinalProject2.Models.KetBan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>KetBan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_NguoiKetBan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_NguoiKetBan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
